<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loyalty">

    <application
        android:name=".Util.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Loyalty">
        <activity android:name=".Controller.Onboarding3Activity"></activity>
        <activity android:name=".Controller.Onboarding2Activity" />
        <activity android:name=".Controller.HomeActivity" />
        <activity android:name=".Controller.LoginActivity" />
        <activity android:name=".Controller.CadastrarCodigoActivity" />
        <activity android:name=".Controller.GerarCodigoActivity" />
        <activity android:name=".Controller.Onboarding1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>